/*----程式技能----*/
.part2{
    background-color: #CCDBE2;
    background-image: url(../images/個介背景2.jpg);
    background-repeat: no-repeat;
    border-radius: 20px;
    width: 31.5%;
    height: auto;
    left: 460px;
    top: 20px;
    bottom: 20px;
    margin-right: 22px;
    margin-bottom: 50px;
    position: relative;
    padding: 15px;
    float: left;
}

.part2{
    display: block;
}

.ST{
    font-size: 30px;
    font-weight: bold;
    color: #392759;
    width: 400px;
    position: relative;
    border-radius: 10px;
    margin: 5px;
}

.sc1{
    color: teal;
    font-weight: bolder;
    font-size: 25px;
}

.container {
    width: 70%;
    padding: 10px 30px 20px 15px;
    background-color: #7fb174;
    border-radius: 40px;

}

.container * {
    color: rgb(255, 255, 255);
    font-weight: 700;
}

.details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.bar {
    text-align: right;
    position: relative;
    border: 5px solid #FF9770;
    border-radius: 25px;
    margin-bottom: 10px;
    font-size: 20px;
    color: #1E555C;
}

.bar div {
    position: relative;
    width: 0;
    height: 20px;
    border-radius: 15px;
    background-color: #FF9770;
    color: #1E555C;
    font-size: 25px;
    font-weight: 700;
}

/*----進度條動畫----*/
#html-bar{
    animation: html-fill 8s forwards;
}

@keyframes html-fill {
    100% {
        width: 90%;
    }
}

#css-bar{
    animation: css-fill 8s forwards;
}

@keyframes css-fill {
    100% {
        width: 90%;
    }
}

#javascript-bar {
    animation: js-fill 8s forwards;
}

@keyframes js-fill {
    100% {
        width: 60%;
    }
}

#C-bar{
    animation: C-fill 8s forwards;
}

@keyframes C-fill {
    100% {
        width: 30%;
    }
}

/*----專業技能----*/
.part3{
    background-color: #CCDBE2;
    background-image: url(../images/個介背景3.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
    width: 31%;
    height: auto;
    left: 460px;
    top: 20px;
    bottom: 20px;
    margin-left: 22px;
    margin-bottom: 50px;
    position: relative;
    padding: 15px;
    float: left;
}

.part3{
    display: block;
}

.container2 {
    width: 70%;
    padding: 10px 30px 20px;
    background-color: #0e4d42;
    border-radius: 40px;
}

.container2 * {
    color: rgb(255, 255, 255);
    font-weight: 700;
}

.details2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.bar2 {
    text-align: right;
    position: relative;
    border: 5px solid #FF9770;
    border-radius: 25px;
    margin-bottom: 10px;
    font-size: 20px;
    color: #1E555C;
}

.bar2 div {
    position: relative;
    width: 0;
    height: 20px;
    border-radius: 15px;
    background-color: #FF9770;
    color: #1E555C;
    font-size: 25px;
    font-weight: 700;
}

/*----進度條動畫----*/
#W-bar2{
    animation: W-fill 8s forwards;
}

@keyframes W-fill {
    100% {
        width: 90%;
    }
}

#E-bar2 {
    animation: E-fill 8s forwards;
}

@keyframes E-fill {
    100% {
        width: 100%;
    }
}

#S-bar2 {
    animation: S-fill 8s forwards;
}

@keyframes S-fill {
    100% {
        width: 85%;
    }
}

#P-bar2 {
    animation: P-fill 8s forwards;
}

@keyframes P-fill {
    100% {
        width: 90%;
    }
}